<div class="container">
  <h2>JOGO DA MEMÓRIA</h2>
  <div class="timer">
    <p>Tempo: {{ timer }} segundos</p>
    <p>Pontuação: {{ pontos }}</p>
  </div>
  <div class="game" *ngIf="status=='jogando'">
    <div *ngFor="let card of shuffledEmojis; let i = index" 
         class="item" 
         [class.boxOpen]="card.open"
         [class.boxMatch]="card.matched" 
         (click)="handleClick(card)">
      <!-- {{ card.emoji }} -->
      <img src="{{ card.emoji }}" alt="" srcset="">
    </div>
  </div>
  <div class="container__button">
    <button class="reset" *ngIf="status1=='0'" (click)="iniciarGame()">INICIAR GAME</button>
    <button class="reset" (click)="resetGame()">RESET GAME</button>
  </div>
</div>