<div class="container">
  <app-menu-game
    tituloGame="JOGO DA MEMÓRIA"
    [isPlaying]="isPlaying"
    [pontos]="pontos"
    [timer]="timer"
    (onIniciarGame)="iniciarGame()"
    (onResetGame)="resetGame()"
    (onOptionClicked)="onOptionSelected($event)"
  ></app-menu-game>
  <div class="container__game">
    <div class="game" *ngIf="!gameOver">
      <div *ngFor="let card of shuffledEmojis; let i = index" class="item" [class.boxOpen]="card.open"
        [class.boxMatch]="card.matched" (click)="handleClick(card)">
         <img src="{{ card.emoji }}" alt="" srcset="">
      </div>
    </div>
    <div class="resultado" *ngIf="gameOver">
      <p>{{ resultado }}</p>
    </div>
  </div>
</div>