<div class="container__info">
    <h2>{{ tituloGame }}</h2>
    <div class="timer">
      <p>Tempo</p>
      <p class="timer__cor"> {{ timer }}</p>
      <br>
      <p>Pontos</p>
      <p class="timer__cor"> {{ pontos }}</p>
    </div>
    <div class="combobox">
      <label>
        <input [disabled]="isPlaying" type="radio" name="difficulty" value="F" checked
          (change)="onOptionSelected($event)" />
        <p>Fácil</p>
      </label>
      <label>
        <input [disabled]="isPlaying" type="radio" name="difficulty" value="N" (change)="onOptionSelected($event)" />
        <p>Normal</p>
      </label>
      <label>
        <input [disabled]="isPlaying" type="radio" name="difficulty" value="D" (change)="onOptionSelected($event)" />
        <p>Difícil</p>
      </label>
    </div>
    <div class="container__button">
      <div class="container__button__position">
        <button class="start" [disabled]="isPlaying" (click)="onIniciarGameSelected()"></button>
        <p>START</p>
      </div>
      <div class="container__button__position">
        <button class="reset" (click)="onResetGameSelected()"></button>
        <p>RESET</p>
      </div>
    </div>
  </div>