<div class="navbar__itens">
    <a routerLink="/game-memory">
        <app-game-card
            titulo="JOGO DA MEMÓRIA"
            imgGame="../../../assets/images/memoryGame.jpg"
        ></app-game-card>
    </a>
    <a routerLink="/game-catch">
        <app-game-card
            titulo="PEGUE O POKEMON"
            imgGame="../../../assets/images/catchGame.jpg"
        ></app-game-card>
    </a>
    <a routerLink="/game-cards">
        <app-game-card
            titulo="CARDGAME POKEMON"
            imgGame="../../../assets/images/catchGame.jpg"
        ></app-game-card>
    </a> 
</div>