.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.player__info{
  width: 280px;
  height: 500px;
  margin-top: 10px;
  margin-left: 40px;
  background-color: grey;
  text-align: center;
  border-radius: 20px;
  border: 2px solid rgb(59, 59, 59);
}

.computer__info{
  width: 280px;
  height: 500px;
  margin-top: 10px;
  margin-right: 40px;
  background-color: grey;
  text-align: center;
  border-radius: 20px;
  border: 2px solid rgb(59, 59, 59);
}

.life-bar {
  width: 250px;
  background-color: #ccc;
  border: 1px solid #000;
  height: 30px;
  position: relative;
}

.life-atual {
  height: 100%;
  background-color: green;
  text-align: center;
  color: white;
  line-height: 30px; /* Centraliza o texto verticalmente */
}



.game__info{
  margin-top: 10px;
  background: rgb(37,83,144);
  background: linear-gradient(0deg, 
      rgba(37,83,144,1) 0%, 
      rgba(37,83,144,1) 40%, 
      rgba(31,77,139,1) 42%, 
      rgba(36,36,36,1) 48%,
      rgba(36,36,36,1) 50%, 
      rgba(36,36,36,1) 52%, 
      rgba(164,42,38,1) 58%, 
      rgba(174,52,48,1) 60%, 
      rgba(174,52,48,1) 100%);
  width: 60%;
  height: 88vh;
  border: 15px solid #333333;
  border-radius: 30px;
}

.game__info__playing{
  background-image: url('../../../assets/images/Batalhapokebola.png');
  background-position: center;
  background-size: 400px;
  background-repeat: no-repeat;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-box {
  width: 79%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(43, 43, 43); */
  background: rgb(27,27,27);
  background: linear-gradient(180deg, rgba(27,27,27,1) 0%, rgba(61,61,61,1) 25%, rgba(107,107,107,1) 50%, rgba(61,61,61,1) 75%, rgba(27,27,27,1) 100%);
  border-radius: 20px;
  border: 8px solid rgb(104, 104, 104);
  gap: 15px;
 
}

#computer-cards{
  position: relative;
  top: -12px;
}

#player-cards{
  position: relative;
  bottom: 18px;
}



.duel__container{
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}

  
.button {
  font-weight: bold;
  font-size: large;
  text-align: center;
  width: 120px;
  height: 60px;
  color: black;
  padding: 0 0px;
  background: lightblue;
  border: 3px solid #003060;
  border-radius: 40px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.button:hover{
  background: #003060;
  border: 3px solid lightblue;
  color: white;
}

.button:disabled{
  background: #ff01b3;
  border: none;
  color: black;
}
  
  .versus-top,
  .versus-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  #next-duel {
    display: none;
  }
  
  .card {
    height: 175px;
    width: 140px;
    transition: all 0.2s;
    cursor: pointer;
    border: 7px solid rgb(211, 160, 66);
    border-radius: 10px;
  }

  .pCcard .container{
    transform: scale(0.375); 
    transform-origin: top left; 
  }

  .pcard .container{
    transform: scale(0.685); /* Reduz o tamanho para 80% */
    transform-origin: top left; /* Define o ponto de origem para o escalonamento */
  }

  .pCcard{
    height: 96px;
    width: 77px;
  }

  .pcard{
    height: 175px;
    width: 140px;
  }

  .pcard:hover {
    transform: scale(1.2);
  }

  #next-duel {
    display: none;
    transition: all 0.3s;
  }
  
  #next-duel.show {
    display: block;
  }

  .disabled-div {
    pointer-events: none; /* Desativa interações */
    /*opacity: 0.5; ---- Indica visualmente que está desativada */
  }


  