@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__search__pokemon {
    margin: 20px
}

.card__container__pokemon {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os elementos quebrem para a próxima linha, se necessário */
    justify-content: center;
    align-items: center;
    max-width: 1260px;

}

.card__carregar__pokemon {
    margin: 20px;
}

a {
    text-decoration: none;
}

.card__search__pokemon{
background-color: red;
padding-left: 10px;
    border: 2px solid red;
    border-radius: 15px;
}

.card__search__pokemon> label{
color: #eee;
font-size: 20px;

}

.card__search__pokemon>input{
    padding: 15px;
    border: none;
    margin-left: 10px;
    width: 350px;
    border-radius: 15px;
    outline: none;
}