.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__search__move {
    margin: 20px
}

.card__container__move {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os elementos quebrem para a próxima linha, se necessário */
    justify-content: center;
    align-items: center;
    max-width: 1260px;

}

.card__carregar__move {
    margin: 20px;
}

.card__search__move{
    background-color: #b6b6b6;
    padding-left: 10px;
        border: 2px solid #b6b6b6;
        border-radius: 15px;
    }
    
    .card__search__move> label{
    color: #383838;
    font-size: 20px;
    
    }
    
    .card__search__move>input{
        padding: 15px;
        border: none;
        margin-left: 10px;
        width: 350px;
        border-radius: 15px;
        outline: none;
    }