<div class="pokecard__container">
    <div class="pokecard__info">
        <div class="pokecard__info__title">
            <h3>
                Nº: {{pokemon.id}}
            </h3>
            <h2>
                {{pokemon.species.name|uppercase}}
            </h2>
        </div>
        <div class="pokecard__types">
            <span *ngFor="let type of types">
                <img [src]="type.sprites['generation-viii']['sword-shield'].name_icon" alt="type" srcset="">
            </span>
        </div>
    </div>
    <div class="pokecard__image">
        <div class="pokecard__image__inner">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" alt="pokemon" srcset="">
        </div>
    </div>
</div>