

.pokedetails__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedetails__info {
    width: 1260px;
    height: 750px;
    margin-top: 40px;
}

.pokedetails__info__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(241, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(241, 0, 0, 1) 40%, rgba(223, 0, 0, 1) 50%, rgba(210, 0, 0, 1) 60%);
    background: -webkit-linear-gradient(180deg, rgba(241, 0, 0, 1) 40%, rgba(223, 0, 0, 1) 50%, rgba(210, 0, 0, 1) 60%);
    background: linear-gradient(180deg, rgba(241, 0, 0, 1) 40%, rgba(223, 0, 0, 1) 50%, rgba(210, 0, 0, 1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f10000", endColorstr="#d20000", GradientType=1);
    border-radius: 10px;
    height: 80px;
}

.pokedetails__info__title>h1,
.pokedetails__info__title>h4 {
    color: #f5f3f1;
    margin-left: 20px;
}

.pokedetails__info__body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pokedetails__info__body__image {
    display: flex;
    width: 630px;
    justify-content: center;
}

.pokedetails__info__body__data {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 550px;
}

.pokedetails__info__body__data p,
.pokedetails__info__body__data h4 {
    font-size: 18px;
    font-weight: normal;
}

.pokedetails__info__body__data h5 {
    font-size: 12px;
    font-weight: normal;
}

.pokedetails__types>span>img {
    width: 170px;
    border-radius: 5px;
    margin-right: 20px;
}

.pokedetails__evolution {
    display: flex;
    flex-direction: column;
    border: 5px groove #a06c0a;
    /* background-image: url("../../../assets/images/fundo4.jpg"); */
    background-color: rgb(51, 51, 51,0.85);
    border-radius: 10px;
    margin-top: 100px;
}

.pokedetails__evolution__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
    gap: 50px
}

.pokedetails__evolution__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.pokedetails__evolution__method {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #f5f3f1;
    font-weight: bold;
}

.pokedetails__evolution__method img{
    width: 40px;
}

.pokedetails__evolution__pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pokedetails__evolution__pokemon>img {
    width: 150px;
}

.pokedetails__evolution__pokemon__image {
    background-color: #ffffff;
    width: 180px;
    height: 180px;
    margin: auto;
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #333333;
    padding: 20px;
    /* Cria a "margem" entre as bordas interna e externa */
    box-sizing: border-box;

}

.pokedetails__evolution__pokemon__image__inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #555;
    /* Borda interna */
    background-color: #eee;
    /* Cor de fundo interna */
}

.pokedetails__evolution__pokemon__image__inner>img {
    height: 140px;
}


.pokedetails__evolution__pokemon>h4 {
    margin-top: 20px;
    color: #f5f3f1;
}

.pokedetails__moves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.pokedetails__moves__data {
    display: flex;
    width: 1220px;
}


mat-panel-title {
    font-size: 18px;
    border-radius: 10px;
}

mat-expansion-panel {
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    margin-bottom: 10px;
}


.pokedetails__moves__stats {
    display: flex;
    width: 750px;
}

.pokedetails__moves__move-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 15px;
    width: 70%;
}

.pokedetails__moves__move-details>p {
    width: 100px;
}

.pokedetails__moves__types {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.pokedetails__moves__types__inner>img {
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #000000;
}

.pokedetails__moves__learned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dadada;
    border-radius: 10px;
    padding: 15px;
}

.pokedetails__moves__learned>h4 {
    margin-top: 20px;
}

.pokedetails__moves__learned__games {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.pokedetails__moves__learned__games__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    width: 250px;
    border-radius: 5px;
    margin: 2px 17px;
    flex-direction: column;
    background: rgb(202, 229, 230);
    background: -moz-linear-gradient(180deg, rgba(202, 229, 230, 1) 40%, rgba(187, 213, 214, 1) 50%, rgba(188, 213, 214, 1) 60%);
    background: -webkit-linear-gradient(180deg, rgba(202, 229, 230, 1) 40%, rgba(187, 213, 214, 1) 50%, rgba(188, 213, 214, 1) 60%);
    background: linear-gradient(180deg, rgba(202, 229, 230, 1) 40%, rgba(187, 213, 214, 1) 50%, rgba(188, 213, 214, 1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cae5e6", endColorstr="#bcd5d6", GradientType=1);
}

.pokedetails__moves__learned__games>p {
    font-size: 12px;
}

fieldset {
    border: 2px solid #a8a8a8;
    padding: 10px 20px;
    border-radius: 8px;
    width: 500px;
    background-color: #f1f1f1
}

fieldset legend {
    color: #a8a8a8;
    padding: 0 5px;
}

.custom-progress-bar {
    height: 16px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.custom-progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
    border-color: #3d3d3d;
}


.red-blue { background: linear-gradient(0deg, rgba(218,57,20,1)  0%, rgba(46,80,216,1) 100%); }
.yellow { background: linear-gradient(0deg, rgba(255,229,122,1) 0%, rgba(255,215,51,1) 100%); }
.gold-silver { background: linear-gradient(0deg, rgba(218,165,32,1) 0%, rgba(192,192,192,1) 100%); }
.crystal { background: linear-gradient(0deg, rgba(140,230,255,1) 0%, rgba(79,217,255,1) 100%); }
.ruby-sapphire { background: linear-gradient(0deg, rgba(205,34,54,1) 0%, rgba(61,81,167,1) 100%); }
.emerald { background: linear-gradient(0deg, rgba(89,187,143,1) 0%, rgba(0,150,82,1) 100%); }
.firered-leafgreen { background: linear-gradient(0deg, rgba(241,92,1,1) 0%, rgba(159,220,0,1) 100%);}
.diamond-pearl { background: linear-gradient(0deg, rgba(144,190,237,1) 0%, rgba(221,124,177,1) 100%); }
.platinum { background: linear-gradient(0deg, rgba(193,193,181,1) 0%, rgba(160,160,141,1) 100%); }
.heartgold-soulsilver { background: linear-gradient(0deg, rgba(232,181,2,1) 0%, rgba(170,185,207,1) 100%); }
.black-white { background: linear-gradient(0deg, rgba(68,68,68,1) 0%, rgba(225,225,225,1) 100%); }
.black-2-white-2 { background: linear-gradient(0deg, rgba(48,62,81,1) 0%, rgba(235,197,195,1) 100%); }
.x-y { background: linear-gradient(0deg, rgba(2,93,166,1) 0%, rgba(234,26,62,1) 100%); }
.omega-ruby-alpha-sapphire { background: linear-gradient(0deg, rgba(171,40,19,1) 0%, rgba(38,100,156,1) 100%); }
.sun-moon {background: linear-gradient(0deg, rgba(241,145,43,1) 0%, rgba(85,153,202,1) 100%); }
.ultra-sun-ultra-moon { background: linear-gradient(0deg, rgba(233,91,43,1) 0%, rgba(34,109,181,1) 100%); }
.sword-shield { background: linear-gradient(0deg, rgba(0,161,233,1) 0%, rgba(191,0,79,1) 100%); }
.legends-arceus { background: linear-gradient(0deg, rgba(124,147,169,1) 0%, rgba(54,89,123,1) 100%); }
.scarlet-violet { background: linear-gradient(0deg, rgba(243,65,52,1) 0%, rgba(131,52,183,1) 100%); }
.brilliant-diamond-and-shining-pearl { background: linear-gradient(0deg, rgba(68,186,229,1) 0%, rgba(218,125,153,1) 100%); }
.colosseum { background: linear-gradient(0deg, rgba(208,221,237,1) 0%, rgba(182,202,228,1) 100%);}
.xd { background: linear-gradient(0deg, rgba(152,140,174,1) 0%, rgba(96,78,130,1) 100%);}
.lets-go-pikachu-lets-go-eevee { background: linear-gradient(0deg, rgba(245,218,38,1) 0%, rgba(212,146,75,1) 100%);}