<div class="pokedetails__container">

  <!-- Detalhes Pokemon -->
  <div class="pokedetails__info">
    <div class="pokedetails__info__title">
      <h4>
        Nº: {{pokemon.id}}
      </h4>
      <h1>
        {{pokemon.species.name | uppercase}}
      </h1>
    </div>

    <div class="pokedetails__info__body">

      <div class="pokedetails__info__body__image">
        <div class="pokedetails__image">
          <div class="pokedetails__image__inner">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" alt="pokemon" srcset="">
          </div>
        </div>
      </div>

      <div class="pokedetails__info__body__data">
        <fieldset class="pokedetails__types">
          <legend>Type</legend>
          <span *ngFor="let type of types">
            <img [src]="type.sprites['generation-viii']['sword-shield'].name_icon" alt="type" srcset="">
          </span>
        </fieldset>
        <fieldset class="pokedetails__size">
          <legend>Size</legend>
          <p>Height: {{pokemon.height}} m</p>
          <p>Weight: {{pokemon.weight}} kg</p>
        </fieldset>
        <fieldset class="pokedetails__abilities">
          <legend>Abilities</legend>
          <div *ngFor="let abilite of pokemon.abilities">
            <div *ngIf="!abilite.is_hidden">
              <h4>{{abilite.ability.name | titlecase}} </h4>
            </div>
            <div *ngIf="abilite.is_hidden">
              <h5>{{abilite.ability.name | titlecase}} (Hidden ability)</h5>
            </div>
          </div>
        </fieldset>
        <fieldset class="pokedetails__stats">
          <legend>Stats</legend>
          <div *ngFor="let stat of pokemon.stats">
            <p>{{stat.stat.name | replaceHyphen | capitalize}}: {{stat.base_stat}} </p>

            <div class="custom-progress-bar">
              <div class="custom-progress" [ngStyle]="{ 'width': (stat.base_stat / 255) * 100 + '%' }">
              </div>
            </div>

          </div>
          <p>Total : {{totalStats}}</p>
        </fieldset>
      </div>

    </div>
  </div>


  <!-- Cadeia de Evolução -->

  <div class="pokedetails__evolution" *ngIf="evolutions.length > 1">
    <div class="pokedetails__evolution__list">
      <div class="pokedetails__evolution__stage" *ngFor="let stage of evolutions | groupByStage">
        <div class="pokedetails__evolution__item" *ngFor="let evolution of stage">

          <!-- Detalhes da Evolução -->
          <div class="pokedetails__evolution__method" *ngIf="evolution.details && evolution.details.length > 0">
            <div *ngFor="let detail of evolution.details">
              <p *ngIf="detail.trigger?.name === 'trade'">{{ detail.trigger.name | titlecase }}</p>
              <p *ngIf="detail.min_level">Level {{ detail.min_level }}</p>
              <p *ngIf="detail.happiness">Happiness {{ detail.happiness }}</p>
              <p *ngIf="detail.affection">Affection {{ detail.affection }}</p>
              <p *ngIf="detail.item">Use {{ detail.item.name | titlecase }}</p>
              <p *ngIf="detail.held_item">Holding {{ detail.held_item | titlecase }}</p>
              <p *ngIf="detail.known_move">After {{ detail.known_move | titlecase }} learned</p>
              <p *ngIf="detail.known_move_type">After {{ detail.known_move_type | titlecase }} move learned</p>
              <p *ngIf="detail.time_of_day">{{ detail.time_of_day | titlecase }}</p>
            </div>
          </div>

          <!-- Informações do Pokémon -->
          <div class="pokedetails__evolution__pokemon">
            <a routerLink="/pokemon-details" [queryParams]="{ number: getPokemonIdFromUrl(evolution.species.url)  }">
              <div class="pokedetails__evolution__pokemon__image">
                <div class="pokedetails__evolution__pokemon__image__inner">
                  <img
                    [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + getPokemonIdFromUrl(evolution.species.url) + '.png'"
                    [alt]="evolution.species.name" />
                </div>
              </div>
            </a>
            <h4>{{ evolution.species.name | uppercase }}</h4>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- Pokemons Moves -->
  <fieldset class="pokedetails__moves">
    <legend>Moves:</legend>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let move of displayedMoves">
        <mat-expansion-panel-header class="pokedetails__moves__data">
          <mat-panel-title>
            {{ move.move.name | titlecase | replaceHyphen}}
          </mat-panel-title>
          <mat-panel-description>
            <div class="pokedetails__moves__stats">
              <div class="pokedetails__moves__move-details">
                <p>Power: {{ move.details?.power || 'N/A' }}</p>
                <p>Accuracy: {{ move.details?.accuracy || 'N/A' }}</p>
                <p>PP: {{ move.details?.pp || 'N/A' }}</p>
              </div>

              <div class="pokedetails__moves__types">
                <div class="pokedetails__moves__types__inner">
                  <img [src]="move.details?.type?.typeImage?.sprites?.['generation-viii']?.['sword-shield']?.name_icon"
                    alt="type" />
                </div>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="pokedetails__moves__learned">
          <p><strong>Como é aprendido:</strong></p>
          <ng-container *ngFor="let group of groupLearnMethods(move.version_group_details)">
            <h4>{{ group.method | uppercase }}</h4>
            <div class="pokedetails__moves__learned__games">

              <div class="pokedetails__moves__learned__games__detail" *ngFor="let detail of group.details">
                <p> {{ detail.version_group.name | titlecase | replaceHyphen | capitalize}}</p>
                <p *ngIf="detail.level_learned_at!=0">Level: {{ detail.level_learned_at }}</p>
              </div>

            </div>

          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="displayedMoves.length < pokemon.moves.length" class="loading">
    </div>
  </fieldset>

</div>