<div class="menu-container">
    
</div>
<div class="container">
    <div class="card__search__item">
        <label for="filtro-item">Nome: </label>
        <input [(ngModel)]="searchTerm" (input)="pokemonService.search(searchTerm,itens,2)" placeholder="Pesquisar Item">
    </div>

    <div class="card__container__item">
        <div class="card__item" *ngFor="let number of pokemonService.displayed">
            <app-item-card index={{number}}></app-item-card>
        </div>
    </div>
    <div class="card__carregar__item">
        <button (click)="pokemonService.loadMore(itens)" *ngIf="!pokemonService.isSearching && pokemonService.hasMore(itens)">Carregar mais</button>
    </div>
</div>
<router-outlet></router-outlet>