.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__search__item {
    margin: 20px
}

.card__container__item {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os elementos quebrem para a próxima linha, se necessário */
    justify-content: center;
    align-items: center;
    max-width: 1260px;

}

.card__carregar__item {
    margin: 20px;
}